#formulario{
	border-radius: 5px;
}
html{
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
body{
	border-image-width: 100%;
	background-image: url(back.jpg);
}
#cardmenutittle1{
	text-align: center;
	border-radius: 5px;
	margin-top: 25px;
}
#cardmenu1{
	text-align: justify;
}
#cardmenutittle2{
	text-align: center;
	border-radius: 5px;
	margin-top: 25px;
}
#cardmenu2{
	text-align: justify;
}
#menu2{
	float: bottom;
}
#cardforomulariotittle1{
	text-align: center;
	align-content: center;
}
#login1{
	border-radius: 5px;
}
#login2{
	border-radius: 5px 5px 0px 0px;
}
#EUA1{
	border-radius: 5px 5px 0px 0px;
}
#EUA2{
	border-radius: 0px 0px 5px 5px;
	text-align: justify;
}
#cardmenu{
	max-height: 750px;
}
.cardt{
	border-radius: 5px 5px 0px 0px;
}
.cardb{
	border-radius: 0px 0px 5px 5px;
}
.cardbt{
	border-radius: 5px 5px 5px 5px;
}
.cent{
	text-align: center;
}
.just{
	text-align: justify;
}
.card-image {
	max-height: 300px;
}
.card-image img {
	height: 100%;
	max-height: 300px;
}
.card-content p {
	min-height: 112px;
}
.social-button {
	margin-top: 5px;
}
.card-space {
	margin-bottom: 5px;
}